
{% extends 'dota_analytics/header.html' %}

{% block title %}Dota 2 | Queue{% endblock %}

{% load staticfiles %}
{% csrf_token %}


{% block content %}

    <div class="sub-header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="sub-header">

                        <div>
                            <label>Queue</label>

                            <div class="guide">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                    View instructions
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Instruction</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <ul>
                                                    <li>You can edit the match statistics across the 10 players to know the outcome</li>
                                                    <li>A sample match has been prepopulated</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="dropdown d-none">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Quick Links
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Another action</button>
                                <button class="dropdown-item" type="button">Something else here</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid scroll">
        <div class="row">
            <div class="col-8">
                <div class="queue-table">
                    <h6>
                        <span>Note: </span>
                        If your request is not yet listed in the queue, please try refreshing the page.
                    </h6>
                    <button id="btnPredict"  onclick="true" type="button" class="btn btn-primary" style="align-self:end">Save & Predict</button>
                    <div id="jsGrid"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                  <img src='{% static "dota_analytics/images/dota_victory.jpg"%}' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">And the winner is</h5>
                    <a href="#" class="btn btn-primary">Radiant or Dire?</a>

                    <p class="card-text">With a Win Probability of x%</p>
                    <p id="card-probability" class="card-text"></p>

                  </div>
                </div>
            </div>
        </div>
    </div>


    <footer>Powered by NeoNash</footer>
{% endblock %}
{% block imports %}
<script src="{% static 'dota_analytics/script/queue.js' %}"></script>
    <script src="{% static 'dota_analytics/script/url_utils.js' %}"></script>
    <script src="{% static 'dota_analytics/script/vendor/jsgrid.min.js' %}"></script>
<script>
    $('.custom-file-input').on('change', function () {
        $(this).next('.form-control-file').addClass("selected").html($(this).val());
    })
</script>

{% endblock %}