# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Unused project files #
dota_analytics/static/dota_analytics/script/app.js
dota_analytics/static/dota_analytics/script/app.module.js
dota_analytics/static/dota_analytics/script/app1.js
dota_analytics/static/dota_analytics/script/association.js
dota_analytics/static/dota_analytics/script/brand_summary.js
dota_analytics/static/dota_analytics/script/chart_utils.js
dota_analytics/static/dota_analytics/script/clustering.js
dota_analytics/static/dota_analytics/script/discover.js
dota_analytics/static/dota_analytics/script/pivotgrid.js
dota_analytics/static/dota_analytics/script/request.js
dota_analytics/static/dota_analytics/script/search.js
dota_analytics/static/dota_analytics/script/topicmodeling.js
dota_analytics/static/dota_analytics/script/upload.js
dota_analytics/static/dota_analytics/script/upload - Backup Copy.js

dota_analytics/static/dota_analytics/script/js/high-chart-code.js
dota_analytics/static/dota_analytics/script/js/highcharts.js
dota_analytics/static/dota_analytics/script/js/index-animate.js
dota_analytics/static/dota_analytics/script/js/multiselect-filter.js

dota_analytics/static/dota_analytics/script/vendor/angular-resource.min.js
dota_analytics/static/dota_analytics/script/vendor/angular.min.js
dota_analytics/static/dota_analytics/script/vendor/angular-route.js
dota_analytics/static/dota_analytics/script/vendor/canvas-to-blob.min.js
dota_analytics/static/dota_analytics/script/vendor/carrot*







# Backup files #
*.bak

# If you are using PyCharm #
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
